.header
  .header__infomation
    Created group

.contents
  .contents__chat-side
    .contents__chat-side__header
      .contents__chat-side__header__box
        %p()username
        .contents__chat-side__header__box__menu
          =link_to "", class: "contents__chat-side__header__box__menu__btn" do
            = fa_icon 'edit'
          =link_to "", class: "contents__chat-side__header__box__menu__btn" do
            = fa_icon 'cog'
    .contents__chat-side__groups
      .contents__chat-side__groups__group1
        .contents__chat-side__groups__group1__name
          groupname
        .contents__chat-side__groups__group1__message
          first message
  .contents__chat-main
    .contents__chat-main__header
      .contents__chat-main__header__group-chat
        .contents__chat-main__header__group-chat__groupname
          groupname
        .contents__chat-main__header__group-chat__menber
          Member : username username2
      %a(href="")
        .contents__chat-main__header__edit-btn
          Edit
    .contents__chat-main__messages
      .contents__chat-main__messages__comment-form1
        .contents__chat-main__messages__comment-form1__username-date
          .contents__chat-main__messages__comment-form1__username-date__username
            username1
          .contents__chat-main__messages__comment-form1__username-date__date
            2019/10/24(Thu) 20:00:00
        .contents__chat-main__messages__comment-form1__comment
          カキカキ
    .contents__chat-main__form
      .contents__chat-main__form__send-form
        .contents__chat-main__form__send-form__input-box
          %input.contents__chat-main__form__send-form__input-box__text{:placeholder => "type a message", :type => "text"}/
          %label.contents__chat-main__form__send-form__input-box__image{for: "upload-icon"}
            %i.fa.fa-picture-o
            %input.contents__chat-main__form__send-form__input-box__image__file{:type => "file", :id => "upload-icon"}/
        %input.contents__chat-main__form__send-form__send-btn{:type => "submit", :value => "Send"}/