@import 'colors'; 

// .header {
//   height: 22px;
//   width: 100%;
//   background-color: $light_blue;
//   position: relative;
//   &__infomation {
//     color: $white;
//     text-align: center;
//     font-size: 17px;
//     line-height: 22px;
//   }
//   &--fixd{
//     position: fixed;
//     top: 0;
//     left: 0;
//   }
// }

.contents {
  height: 100vh;
  width: 100%;
  background-color: $white;
  display: flex;
  &__chat-side {
    height: 100%;
    width: 300px;
    background-color: $side_blue_light;
    &__header {
      padding: 0 20px;
      height: 100px;
      width: 260px;
      background-color: $side_blue_dark;
      line-height: 100px;
      &__box {
        width: 100%;
        font-size: 16px;
        font-weight: bold;
        color: $white;
        display: flex;
        justify-content: space-between;
        &__menu {
          &__btn {
            color: $white;
            text-decoration:none;
          }
        }
      }
    }
    &__groups {
      padding: 20px 20px 0;
      height: calc(100vh - 100px - 20px);
      color: $white;
      font-weight: bold;
      overflow: scroll;
      &__group1 {
        height: 31px;
        width: 260px;
        margin-bottom: 40px;
        &__name {
          font-size: 15px;
        }
        &__message {
          padding-top: 5px;
          font-size: 11px;
        }
      }
    }
  }
  &__chat-main {
    height: 100%;
    width: calc(100vw - 300px);
    background-color: $white;
    &__header {
      padding: 0 40px;
      height: 99px;
      width: calc(100vw - 300px - 80px);
      border-bottom: solid 1px #eeeeee;
      display: flex;
      justify-content: space-between;
      &__group-chat {
        &__groupname {
          margin-top: 35px;
          font-size: 20px;
          color: #333333;
        }
        &__menber {
          margin-top: 15px;
          font-size: 12px;
          color: $light_gray;
        }
      }
      a {
        text-decoration: none;
      }
      &__edit-btn {
        height: 38px;
        border: solid 1px $light_blue;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 28px;
        color: $light_blue;
      }
    }
    &__messages {
      padding: 46px 40px;
      height: calc(100vh - 100px - 70px - 110px);
      width: calc(100vw - 300px - 80px);
      overflow: scroll;
      &__comment-form1 {
        padding-bottom: 40px;
        &__username-date {
          display: flex;
          &__username {
            font-size: 16px;
            font-weight: bold;
            color: $black;
          }
          &__date {
            margin-left: 10px;
            font-size: 12px;
            color: $light_gray;
          }
        }
        &__comment {
          margin-top: 10px;
          font-size: 14px;
          color: $black;
        }
      }
    }
    &__form {
      width: calc(100vw - 300px);
      height: 90px;
      padding: 20px 40px;
      background-color: #dddddd;
      box-sizing: border-box;
      position: fixed;
      &__send-form {
        display: flex;
        &__input-box {
          position: relative;
          width: 100%;
          margin-right: 15px;
          box-sizing: border-box;
          &__text {
            height: 50px;
            width: 100%;
            padding-left: 10px; 
            border-style: none;
            color: $black;
            font-size: 16px;
            box-sizing: border-box;
          }
          &__image {
             position: absolute;
             top: 10px;
             right: 10px;
             font-size: 1.3rem;
             cursor: pointer;
             &__file {
               display: none;
             }
          }
        }
        &__send-btn {
          padding: 0 30px;
          height: 50px;
          width: 100px;
          line-height: 50px;
          color: $white;
          background-color: $light_blue;
          box-sizing: border-box;
          cursor: pointer;
        }
      }
    }
  }
}